---
import Container from "@/components/Container.astro";
import Layout from "@/layouts/Layout.astro";

const links = [
  {
    title: "Documentation",
    description: "Learn how to integrate our tools with your app",
    // icon: BookOpenIcon,
  },
  {
    title: "API Reference",
    description: "A complete API reference for our libraries",
    // icon: Bars4Icon,
  },
  {
    title: "Guides",
    description: "Installation guides that cover popular setups",
    // icon: BookmarkSquareIcon,
  },
  {
    title: "Blog",
    description: "Read our latest news and articles",
    // icon: RssIcon,
  },
];

const gifs = [
  "https://media.giphy.com/media/BBi3jY2bub3X2/giphy.gif",
  "https://media.giphy.com/media/NTur7XlVDUdqM/giphy.gif",
  "https://media.giphy.com/media/CdhxVrdRN4YFi/giphy.gif",
];

const random = Math.floor(Math.random() * gifs.length);
---

<Layout>
  <Container class="mt-16 sm:mt-24">
    <div class="flex-shrink-0">
      <img class="mx-auto w-auto" src={gifs[random]} alt="Your Company" />
    </div>
    <div class="mx-auto max-w-xl py-16">
      <div class="text-center">
        <p class="text-base font-semibold text-magenta-600">404</p>
        <h1
          class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl"
        >
          This page does not exist.
        </h1>
        <p class="mt-2 text-lg text-gray-500">
          The page you are looking for could not be found.
        </p>
      </div>
      <div class="mt-12">
        <h2 class="text-base font-semibold text-gray-500">Popular pages</h2>
        <ul
          role="list"
          class="mt-4 divide-y divide-gray-200 border-t border-b border-gray-200"
        >
          {
            //   <link.icon
            //     class="h-6 w-6 text-magenta-700"
            //     aria-hidden="true"
            //   />
            links.map((link) => (
              <li class="relative flex items-start space-x-4 py-6">
                <div class="flex-shrink-0">
                  <span class="flex h-12 w-12 items-center justify-center rounded-lg bg-magenta-50" />
                </div>
                <div class="min-w-0 flex-1">
                  <h3 class="text-base font-medium text-gray-900">
                    <span class="rounded-sm focus-within:ring-2 focus-within:ring-magenta-500 focus-within:ring-offset-2">
                      <a href="#" class="focus:outline-none">
                        <span class="absolute inset-0" aria-hidden="true" />
                        {link.title}
                      </a>
                    </span>
                  </h3>
                  <p class="text-base text-gray-500">{link.description}</p>
                </div>
                <div class="flex-shrink-0 self-center" />
              </li>
            ))
            // <ChevronRightIcon
            //   class="h-5 w-5 text-gray-400"
            //   aria-hidden="true"
            // />
          }
        </ul>
        <div class="mt-8">
          <a
            href="/"
            class="text-base font-medium text-magenta-600 hover:text-magenta-500"
          >
            Or go back home
            <span aria-hidden="true"> &rarr;</span>
          </a>
        </div>
      </div>
    </div>
  </Container>
</Layout>
