---
import FeeSlip from "@/components/fee-slip/FeeSlip";
import EmptyLayout from "@/layouts/EmptyLayout.astro";
---

<EmptyLayout>
  <main class="mx-auto my-16 w-full max-w-2xl px-4 sm:px-6 lg:px-8">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus
    voluptatum quaerat iure consequuntur officiis? Perspiciatis labore nobis,
    culpa reprehenderit pariatur sint libero? Culpa accusantium id sit et, a
    repellat quis?

    <div class="mt-10">
      <FeeSlip client:load />
    </div>
  </main>
</EmptyLayout>
