---
import "@/style/global.css";
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/Hero.astro";
import Techs from "@/components/Techs.astro";
import Work from "@/components/Work.astro";
import ProfilePicture from "@/components/ProfilePicture.astro";

const work = [
  {
    company: "Developen Technology",
    logo: "imgs/logo-dark.png",
    role: "Software Engineer",
    startYear: 2019,
    endYear: 2022,
  },
  {
    company: "Universidad de Santiago de Chile",
    logo: "imgs/logo-usach.svg",
    role: "Professor",
    startYear: 2021,
    endYear: 2022,
  },
  {
    company: "IBM",
    logo: "https://upload.wikimedia.org/wikipedia/commons/5/51/IBM_logo.svg",
    role: "Intern",
    startYear: 2019,
    endYear: 2019,
  },
];
---

<Layout title="Home">
  <main>
    <!-- TODO: Change logo & and add a nice patter for the bg with blur effects -->
    <Hero image="https://avatars.githubusercontent.com/u/4650238?v=4" />
    <div class="max-w-md mx-auto py-10">
      <Work work={work} />
    </div>
    <div class="py-10 mx-auto max-w-md">
      <ProfilePicture image="imgs/logo-dark.png" />
    </div>
    <Techs />
    <!-- TODO: About section -->
    <!-- Education, Work experience, some hobbies related to me -->
    <!-- TODO: Projects section -->
    <!-- TODO: Get in touch -->
  </main>
</Layout>
