---
import "@/style/global.css";
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/Hero.astro";
import Resume from "@/components/Resume.astro";
import Stack from "@/components/Stack.astro";
import ArticleLink from "@/components/ArticleLink.astro";
import type { Article } from "@/components/ArticleLink.astro";
import Container from "@/components/Container.astro";
import { Image } from "@astrojs/image/components";

const articles = (await Astro.glob("./articles/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.publishDate).valueOf() -
    new Date(a.frontmatter.publishDate).valueOf()
) as { frontmatter: Article }[];
---

<head>
  <title>Javier Reyes - Software engineer, magician and photographer</title>
  <meta
    name="description"
    content="I'm Javier, a software engineer based in Santiago City. I'm
    currently developing cool stuff, doing magic, sometimes photography and
    recently I start teaching at my Alma Mater about business process and Data
    Science."
  />
</head>
<Layout>
  <Container class="mt-16">
    <div
      class="h-[8.25rem] w-[8.25rem] rounded-full bg-white/90 p-0.5 shadow-lg shadow-zinc-800/10 ring-1 ring-zinc-900/10 backdrop-blur dark:bg-zinc-800/90 dark:ring-white/10 mb-6"
    >
      <Image
        src="imgs/me.png"
        alt=""
        class="rounded-full bg-zinc-100 object-cover dark:bg-zinc-800 h-32 w-32"
        width="128"
        height="128"
        format="webp"
        quality="100"
      />
    </div>
    <Hero image="https://avatars.githubusercontent.com/u/4650238?v=4" />
  </Container>

  <Container class="mt-24 md:mt-28">
    <div
      class="mx-auto grid max-w-xl grid-cols-1 gap-y-20 lg:max-w-none lg:grid-cols-2"
    >
      <div class="flex flex-col gap-16">
        {
          articles.map((article) => (
            <ArticleLink article={article.frontmatter} />
          ))
        }
      </div>
      <div class="space-y-10 lg:pl-16 xl:pl-24">
        <Resume />
        <Stack />
      </div>
    </div>
  </Container>
</Layout>
