---
import "@/style/global.css";
import Layout from "@/layouts/Layout.astro";
import Card from "@/components/Card.astro";
import Header from "@/components/Header.astro";

const skills = [
  "JavaScript",
  "TypeScript",
  "MySQL",
  "PostgreSQL",
  "React",
  "Next.js",
  "Vue.js",
  "Nuxt.js",
  "Tailwind CSS",
  "PHP",
  "Laravel",
  "Python",
];
---

<Layout title="Home">
  <main class="container relative mx-auto w-11/12 px-4 sm:w-9/12">
    <Header image="https://avatars.githubusercontent.com/u/4650238?v=4" />

    <section id="technologies">
      <h3
        class="text-xl font-medium uppercase text-gray-400 dark:text-white stylistic-alternates"
      >
        Technologies I use
      </h3>
      <ul
        role="list"
        class="mt-4 px-4 lg:px-0 grid grid-cols-4 md:grid-cols-6 gap-4"
      >
        {skills.map((skill) => <Card brand={skill} />)}
      </ul>
    </section>
  </main>
</Layout>
