---
import "@/style/global.css";
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/Hero.astro";
import Techs from "@/components/Techs.astro";
---

<Layout title="Home">
  <main>
    <!-- TODO: Change logo & and add a nice patter for the bg with blur effects -->
    <Hero image="https://avatars.githubusercontent.com/u/4650238?v=4" />
    <Techs />
    <!-- TODO: About section -->
    <!-- Education, Work experience, some hobbies related to me -->
    <!-- TODO: Projects section -->
    <!-- TODO: Get in touch -->
  </main>
</Layout>
