---
import "../style/global.css";
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main class="max-w-4xl mx-auto">
		<h1 class="text-red-600">Welcome to <span class="">Astro</span></h1>
		<p class="mb-10">
			Check out the <code>src/pages</code> directory to get started.<br />
			<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
		</p>

		<a href="/about" class="underline text-indigo-500 hover:text-indigo-600 my-4 bg-indigo-100 rounded px-4 py-2">
			To about page
		</a>

		<ul role="list" class="mt-10 space-y-4">
			<Card href="https://docs.astro.build/" title="Documentation"
				body="Learn how Astro works and explore the official API docs." />
			<Card href="https://astro.build/integrations/" title="Integrations"
				body="Supercharge your project with new frameworks and libraries." />
			<Card href="https://astro.build/themes/" title="Themes"
				body="Explore a galaxy of community-built starter themes." />
			<Card href="https://astro.build/chat/" title="Chat"
				body="Come say hi to our amazing Discord community. ❤️" />
		</ul>
	</main>
</Layout>
