---
import "@/style/global.css";
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/Hero.astro";
import Techs from "@/components/Techs.astro";
import Work from "@/components/Work.astro";

const work = [
  {
    company: "Developen Technology",
    logo: "https://upload.wikimedia.org/wikipedia/commons/thumb/8/88/Escudo_de_la_Universidad_de_Santiago-4.svg/800px-Escudo_de_la_Universidad_de_Santiago-4.svg.png",
    role: "Software Engineer",
    startYear: 2019,
    endYear: 2022,
  },
  {
    company: "Universidad de Santiago de Chile",
    logo: "https://upload.wikimedia.org/wikipedia/commons/thumb/8/88/Escudo_de_la_Universidad_de_Santiago-4.svg/800px-Escudo_de_la_Universidad_de_Santiago-4.svg.png",
    role: "Professor",
    startYear: 2021,
    endYear: 2022,
  },
  {
    company: "IBM",
    logo: "https://upload.wikimedia.org/wikipedia/commons/thumb/8/88/Escudo_de_la_Universidad_de_Santiago-4.svg/800px-Escudo_de_la_Universidad_de_Santiago-4.svg.png",
    role: "Intern",
    startYear: 2019,
    endYear: 2019,
  },
];
---

<Layout title="Home">
  <main>
    <!-- TODO: Change logo & and add a nice patter for the bg with blur effects -->
    <Hero image="https://avatars.githubusercontent.com/u/4650238?v=4" />
    <Techs />
    <div class="max-w-md mx-auto py-10">
      <Work work={work} />
    </div>
    <!-- TODO: About section -->
    <!-- Education, Work experience, some hobbies related to me -->
    <!-- TODO: Projects section -->
    <!-- TODO: Get in touch -->
  </main>
</Layout>
