---
import "@/style/global.css";
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/Hero.astro";
// import Techs from "@/components/Techs.astro";
import Resume from "@/components/Resume.astro";
import ArticleLink from "@/components/ArticleLink.astro";
import type { Article } from "@/components/ArticleLink.astro";
import ProfilePicture from "@/components/ProfilePicture.astro";
import Container from "@/components/Container.astro";

const articles = (await Astro.glob("./articles/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.publishDate).valueOf() -
    new Date(a.frontmatter.publishDate).valueOf()
) as { frontmatter: Article }[];
---

<Layout title="Javier Reyes">
  <!-- <div class="sm:px-8 top-0 -mb-3 pt-3">
    <div class="mx-auto max-w-7xl lg:px-8">
      <div class="relative px-4 sm:px-8 lg:px-12">
        <div class="mx-auto max-w-2xl lg:max-w-5xl">
          <ProfilePicture />
        </div>
      </div>
    </div>
  </div>
  <div> -->
  <Container class="mt-9">
    <Hero image="https://avatars.githubusercontent.com/u/4650238?v=4" />
  </Container>

  <Container class="mt-24 md:mt-28">
    <div
      class="mx-auto grid max-w-xl grid-cols-1 gap-y-20 lg:max-w-none lg:grid-cols-2"
    >
      <div class="flex flex-col gap-16">
        {
          articles.map((article) => (
            <ArticleLink article={article.frontmatter} />
          ))
        }
      </div>
      <div class="space-y-10 lg:pl-16 xl:pl-24">
        <Resume />
      </div>
    </div>
  </Container>

  <!-- <Techs /> -->
</Layout>
