---
import "@/style/global.css";
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/Hero.astro";
import Techs from "@/components/Techs.astro";
---

<Layout title="Home">
  <main>
    <Hero image="https://avatars.githubusercontent.com/u/4650238?v=4" />
    <Techs />
  </main>
</Layout>
