---
import { Image } from "@astrojs/image/components";
export interface Props {
  large?: boolean;
  class?: string;
  style?: string;
}

const { large = false, class: className, style: styles } = Astro.props as Props;
---

<a
  href="/"
  aria-label="Home"
  class:list={["pointer-events-auto", className]}
  style={styles}
>
  <Image
    src="/imgs/me.png"
    alt=""
    sizes={large ? "4rem" : "2.25rem"}
    class:list={[
      "rounded-full bg-zinc-100 object-cover dark:bg-zinc-800",
      large ? "h-16 w-16" : "h-9 w-9",
    ]}
    width="128"
    height="128"
    format="webp"
    quality="100"
  />
</a>
