---
export interface Props {
  variant?: "primary" | "secondary";
  href: string;
  extraClasses?: string;
}

const { variant = "primary", href, extraClasses } = Astro.props;

const styles = {
  primary:
    "rounded-lg bg-sky-300 py-2 px-4 text-sm font-semibold text-slate-900 hover:bg-sky-200 active:bg-sky-500 focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-300/50",
  secondary:
    "rounded-lg bg-slate-800 py-2 px-4 text-sm font-medium text-white hover:bg-slate-700 active:text-slate-400 focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white/50",
};
---

<a class:list={[styles[variant], extraClasses]} href={href}><slot /></a>
