---
import IconTech from "./IconTech.astro";

export interface Props {
  brand: string;
}

const { brand } = Astro.props as Props;
---

<li
  class="flex justify-between items-center bg-white/10 backdrop-filter backdrop-blur-md border border-white/30 rounded-md py-4 px-6 text-white"
>
  <p>
    {brand}
  </p>
  <div class="shrink-0 w-7 h-7">
    <IconTech brand={brand} />
  </div>
</li>
