---
import IconTech from "./IconTech.astro";

export interface Props {
  brand: string;
}

const { brand } = Astro.props as Props;
---

<li class="bg-white/10 border rounded-md py-4 px-6 text-slate-800">
  <p class="sr-only">
    {brand}
  </p>
  <div
    class="shrink-0 w-7 h-7 items-center justify-center block mx-auto"
    data-tooltip={brand}
  >
    <IconTech brand={brand} />
  </div>
</li>
