---
import IconTech from "./IconTech.astro";

export interface Props {
  brand: string;
}

const { brand } = Astro.props as Props;
---

<li class="rounded-md py-4 px-6 text-slate-800">
  <div
    class="after:content-[attr(data-tooltip)] relative after:absolute after:bottom-full after:text-white after:rounded after:bg-zinc-900/90 after:backdrop-blur-sm after:text-sm after:block after:max-w-lg after:left-1/2 after:-translate-x-1/2 after:translate-y-4 shrink-0 w-10 h-10 items-center justify-center block mx-auto after:overflow-hidden after:px-2 after:py-1 after:text-ellipsis after:pointer-events-none after:whitespace-nowrap after:transition-all after:duration-200 after:ease-in-out after:opacity-0 after:focus:opacity-100 dark:after:bg-zinc-600/90 after:hover:opacity-100 after:hover:-translate-x-1/2 after:hover:-translate-y-4 after:focus:-translate-x-1/2 after:focus:-translate-y-4"
    data-tooltip={brand}
  >
    <IconTech brand={brand} />
  </div>
  <span class="sr-only">
    {brand}
  </span>
</li>
