---
import ButtonLink from "./ButtonLink.astro";
---

<div class="max-w-2xl">
  <h1
    class="text-4xl bg-gradient-to-r from-magenta-400 via-magenta to-magenta-400 bg-clip-text animate-gradient-loop bg-[length:200%_auto] font-extrabold tracking-tight text-transparent sm:text-5xl stylistic-alternates"
  >
    Software Engineer, Magician and Photographer
  </h1>
  <p class="mt-6 text-base text-zinc-600 dark:text-zinc-400">
    I&rsquo;m Javier, a Software Engineer based in Santiago City (CL). I&rsquo;m
    currently building cool looking webs, and sometimes I&rsquo;m doing some
    magic and photography. Also, recently I start teaching at my Alma Mater
    about Business Process and Data Science. &nbsp;
  </p>
  <div class="mt-6 flex gap-4">
    <ButtonLink
      href="mailto:test@test.false"
      extraClasses="dark:highlight-white/20 bg-magenta text-white hover:bg-magenta-500"
    >
      Get in touch
    </ButtonLink>
    <ButtonLink
      variant="secondary"
      href="/projects"
      extraClasses="dark:highlight-white/5 bg-zinc-800 text-zinc-100 hover:bg-zinc-700"
    >
      My projects
    </ButtonLink>
  </div>
</div>
