<nav class="w-full mt-6 dark:text-white">
  <div class="container relative mx-auto w-11/12 px-4 sm:w-9/12">
    <div class="flex items-center justify-between">
      <span>JR</span>

      <div class="flex items-center space-x-3">
        <a
          href="http://github.com/JaavierR/website"
          target="_blank"
          rel="noopener noreferrer"
        >
          GH
        </a>
      </div>
    </div>
  </div>
</nav>
