---
import GithubIcon from "./GithubIcon.astro";
import ThemeToggle from "./ThemeToggle";
---

<header
  id="header"
  class="sticky top-0 z-50 bg-white py-5 shadow-md shadow-slate-900/5 transition duration-500 dark:shadow-none sm:px-6 lg:px-8 dark:bg-transparent"
>
  <div
    class="flex flex-wrap w-full items-center max-w-2xl lg:max-w-7xl mx-auto justify-between px-4 lg:px-8 xl:px-12"
  >
    <div class="relative flex flex-grow basis-0 items-center">
      <a href="/" aria-label="Home page" class="font-bold text-xl">JR</a>
    </div>

    <div class="relative flex basis-0 justify-end gap-6 sm:gap-8 md:flex-grow">
      <ThemeToggle client:idle />
      <a
        href="http://github.com/JaavierR/regice"
        target="_blank"
        rel="noopener noreferrer"
      >
        <GithubIcon
          class="h-6 w-6 fill-slate-400 hover:fill-slate-500 dark:hover:fill-slate-300"
        />
      </a>
    </div>
  </div>
</header>

<script>
  function onScroll() {
    const header = document.querySelector("#header") as Element;
    const scroll = window.scrollY;
    if (scroll > 0) {
      header.classList.add(
        "dark:bg-slate-900/95",
        "dark:backdrop-blur",
        "dark:[@supports(backdrop-filter:blur(0))]:bg-slate-900/75"
      );
      header.classList.remove("dark:bg-transparent");
    } else {
      header.classList.remove(
        "dark:bg-slate-900/95",
        "dark:backdrop-blur",
        "dark:[@supports(backdrop-filter:blur(0))]:bg-slate-900/75"
      );
      header.classList.add("dark:bg-transparent");
    }
  }

  window.addEventListener("scroll", onScroll);
</script>
