---
import GithubIcon from "./GithubIcon.astro";
import ThemeToggle from "./ThemeToggle";
---

<nav class="w-full mt-6 dark:text-white">
  <div class="container relative mx-auto w-11/12 px-4 sm:w-9/12">
    <div class="flex items-center justify-between">
      <span>JR</span>

      <div
        class="relative flex basis-0 justify-end gap-6 sm:gap-8 md:flex-grow"
      >
        <ThemeToggle client:idle />
        <a
          href="http://github.com/JaavierR/regice"
          target="_blank"
          rel="noopener noreferrer"
        >
          <GithubIcon
            class="h-6 w-6 fill-slate-400 hover:fill-slate-500 dark:hover:fill-slate-300"
          />
        </a>
      </div>
    </div>
  </div>
</nav>
