---
import { ThemeToggle } from "./ThemeToggle";

const routes = [
  { path: "/about", name: "about" },
  { path: "/articles", name: "articles" },
  { path: "/projects", name: "projects" },
];

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---

<header id="header" class="top-0 z-50 h-16 py-3 fixed w-full">
  <div class="sm:px-8">
    <div class="mx-auto max-w-7xl lg:px-8">
      <div class="relative px-4 sm:px-8 lg:px-12">
        <div class="mx-auto mx-w-2xl lg:max-w-5xl">
          <div class="relative flex gap-4 items-center">
            <div class="flex flex-1">
              {
                currentPath !== "" && (
                  <div class="dark:rinf-white/10 h-10 w-10 rounded-full bg-white/90 p-0.5 shadow-lg shadow-zinc-900/5 backdrop-blur dark:bg-zinc-800/90">
                    <a href="/" aria-label="Home" class="pointer-events-auto">
                      <img
                        src="imgs/me.png"
                        width="512"
                        height="512"
                        decoding="async"
                        sizes="4rem"
                        class="h-9 w-9 rounded-full bg-zinc-100 object-cover dark:bg-zinc-800"
                      />
                    </a>
                  </div>
                )
              }
            </div>
            <div class="flex flex-1 justify-end md:justify-center">
              <nav class="pointer-events-auto hidden md:block">
                <ul
                  class="flex px-3 text-sm font-medium text-zinc-800 dark:text-zinc-200"
                >
                  {
                    routes.map((route) => (
                      <li>
                        <a
                          href={route.path}
                          class:list={[
                            "relative block px-3 py-2 capitalize",
                            {
                              "hover:text-pink-500 dark:hover:text-pink-400 transition":
                                route.name !== currentPath,
                            },
                            {
                              "text-pink-500 dark:text-pink-400":
                                route.name === currentPath,
                            },
                          ]}
                        >
                          {route.name}
                          {route.name === currentPath && (
                            <span class="absolute inset-x-1 -bottom-px h-px bg-gradient-to-r from-pink-500/0 via-pink-500/40 to-pink-500/0 dark:from-pink-400/0 dark:via-pink-400/40 dark:to-pink-400/0" />
                          )}
                        </a>
                      </li>
                    ))
                  }
                </ul>
              </nav>
            </div>
            <div
              class="relative flex basis-0 justify-end gap-6 sm:gap-8 md:flex-grow"
            >
              <ThemeToggle client:load />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<script>
  function onScroll() {
    const header = document.querySelector("#header") as Element;
    const scroll = window.scrollY;
    if (scroll > 0) {
      header.classList.add(
        "dark:bg-zinc-900/95",
        "backdrop-blur",
        "dark:[@supports(backdrop-filter:blur(0))]:bg-zinc-900/50",
        "[@supports(backdrop-filter:blur(0))]:bg-white/50"
      );
      header.classList.remove("dark:bg-transparent");
    } else {
      header.classList.remove(
        "dark:bg-zinc-900/95",
        "backdrop-blur",
        "dark:[@supports(backdrop-filter:blur(0))]:bg-zinc-900/50",
        "[@supports(backdrop-filter:blur(0))]:bg-white/50"
      );
      header.classList.add("dark:bg-transparent");
    }
  }

  window.addEventListener("scroll", onScroll);
</script>
