---
export interface Props {
  href: string;
}

const pathname = new URL(Astro.request.url).pathname;

const { href } = Astro.props as Props;

const isActive = pathname === href;
---

<li>
  <a
    href={href}
    class:list={[
      "relative block px-3 py-2 transition",
      isActive
        ? "text-magenta-500 dark:text-magenta-400"
        : "hover:text-magenta-500 dark:hover:text-magenta-400",
    ]}
  >
    <slot />
    {
      isActive && (
        <span class="absolute inset-x-1 -bottom-px h-px bg-gradient-to-r from-magenta-500/0 via-magenta-500/40 to-magenta-500/0 dark:from-magenta-400/0 dark:via-magenta-400/40 dark:to-magenta-400/0" />
      )
    }
  </a>
</li>
