---
export interface Props {
  image: string;
}

const { image } = Astro.props as Props;
---

<div class="relative">
  <div
    class="absolute left-0 top-3 origin-left transition-opacity h-10 w-10 rounded-full bg-white/90 p-0.5 shadow-lg shadow-stone-800/5 ring-1 ring-stone-900/5 backdrop-blur dark:bg-zinc-800/90 dark:ring-white/10"
  >
  </div>
  <a
    href="/"
    aria-label="Home"
    class="block h-16 w-16 origin-left pointer-events-auto"
  >
    <img
      src={image}
      width="512"
      height="512"
      decoding="async"
      sizes="4rem"
      class="rounded-full bg-stone-100 object-cover dark:bg-stone-800 h-16 w-16 text-transparent"
    />
  </a>
</div>
