<div class="relative">
  <a
    href="/"
    aria-label="Home"
    class="block h-20 w-20 origin-left pointer-events-auto"
  >
    <img
      src="imgs/me.png"
      width="512"
      height="512"
      decoding="async"
      sizes="4rem"
      class="rounded-full bg-stone-100 object-cover dark:bg-stone-800 h-20 w-20 text-transparent"
    />
  </a>
</div>
