---
import Footer from "@/components/Footer.astro";
import DocumentLayout from "./DocumentLayout.astro";
import Header from "@/components/Header.astro";
---

<DocumentLayout>
  <div class="relative">
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </div>
</DocumentLayout>
