---
import Navbar from "@/components/Navbar.astro";
import "@/style/global.css";

export interface Props {
  title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html class="antialiased" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <script is:inline>
      let mediaQuery = window.matchMedia("(prefers-color-scheme: dark)");

      function updateTheme(savedTheme) {
        let theme = "system";
        try {
          if (!savedTheme) {
            savedTheme = window.localStorage.theme;
          }
          if (savedTheme === "dark") {
            theme = "dark";
            document.documentElement.classList.add("dark");
          } else if (savedTheme === "light") {
            theme = "light";
            document.documentElement.classList.remove("dark");
          } else if (mediaQuery.matches) {
            document.documentElement.classList.add("dark");
          } else {
            document.documentElement.classList.remove("dark");
          }
        } catch {
          theme = "light";
          document.documentElement.classList.remove("dark");
        }
        return theme;
      }

      function updateThemeWithoutTransitions(savedTheme) {
        updateTheme(savedTheme);
        document.documentElement.classList.add("[&_*]:!transition-none");
        window.setTimeout(() => {
          document.documentElement.classList.remove("[&_*]:!transition-none");
        }, 10);
      }

      document.documentElement.setAttribute("data-theme", updateTheme());

      new MutationObserver(([{ oldValue }]) => {
        let newValue = document.documentElement.getAttribute("data-theme");
        if (newValue !== oldValue) {
          try {
            window.localStorage.setItem("theme", newValue);
          } catch {}
          updateThemeWithoutTransitions(newValue);
        }
      }).observe(document.documentElement, {
        attributeFilter: ["data-theme"],
        attributeOldValue: true,
      });

      mediaQuery.addEventListener("change", updateThemeWithoutTransitions);
      window.addEventListener("storage", updateThemeWithoutTransitions);
    </script>
    <title>{title} - Software engineer, magician and photographer</title>
  </head>

  <body
    class="antialiased text-zinc-900 dark:text-white flex flex-col h-full dark:bg-zinc-900"
  >
    <Navbar />
    <div class="h-28"></div>
    <slot />
  </body>
</html>
